@import url('https://fonts.cdnfonts.com/css/evolventa');

@font-face {
  font-family: 'Druk Text Wide Cyr';
  src: url('../fonts/DrukCyr-Bold.eot');
  src: local('Druk Text Wide Cyr'), local('Druk Text Wide Cyr'),
    url('../fonts/DrukTextWide-Super-Cy-Web.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}