@import "./scss/variable";
@import "./scss/fonts";
@import "./scss/vfm";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Evolventa", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

.body--hidden {
  overflow: hidden;
}

button,
input,
textarea,
button:focus {
  border: none;
  outline: none;
}

.global-title {
  font-weight: 900;
  font-size: 45px;
  line-height: 128.61%;
  text-transform: uppercase;
  color: #000000;
  font-family: "Druk Text Wide Cyr";

  &.white {
    color: white;
  }

  @media (max-width: 1450px) {
    font-size: 38px;
    line-height: 128.61%;
  }

  @media (max-width: 600px) {
    font-size: 20px;
    line-height: 128.61%;
  }
}

body {
  background-color: var(--background);
}

.container {
  margin: 0 150px;

  @media (max-width: 768px) {
    margin: 0 19px;
  }
}

.calc-container {
  display: flex;
  flex-direction: column;
  padding: 45px 55px 56px 55px;
  background: white;

  &.final {
    padding: 109px 50px;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 53px;
    flex-wrap: wrap;

    .name {
      font-family: "Druk Text Wide Cyr";
      max-width: 650px;
      font-weight: 900;
      font-size: 37px;
      line-height: 128.61%;
      text-transform: uppercase;
      color: #1e1e1e;

      &.engine {
        max-width: 740px;
      }

      &.wishes {
        max-width: 910px;
      }

      &.final {
        max-width: 790px;
      }
    }

    .page {
      align-self: end;
      font-weight: 400;
      font-size: 25px;
      line-height: 128.61%;
      color: #bababa;

      span {
        font-size: 16px;
      }
    }
  }

  .select-container {
    display: flex;
    align-self: center;
    margin: 41px 0 0 0;
    gap: 9px;
    flex-wrap: wrap;

    &.with-input {
      margin: 89px 0 0 0;
    }

    &.final {
      gap: 48px;
    }

    .wishes-input {
      width: 458px;
      border-bottom: 1px solid #000000;
      padding: 10px 0;

      &.error {
        &::placeholder {
          color: rgb(230, 1, 1);
          font-size: 18px;
        }
      }

      &::placeholder {
        font-family: "Evolventa";
        font-weight: normal;
        font-size: 16px;
        line-height: 128.61%;
        color: #ababab;
        font-style: italic;
        transition: all 0.1s;
      }
    }

    .gray-select {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px;
      width: 172px;
      height: 100px;
      left: 544px;
      top: 194px;
      background: #f2f2f2;
      border-radius: 12px;

      &.active {
        border: 1px solid #000000;
      }

      img {
        height: 72px;
      }
    }

    .model-title {
      text-align: center;
      padding: 7px 0 0 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 128.61%;
      color: #ababab;
    }
  }

  .navigate-container {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: center;
    margin: 67px 0 0 0;

    &.final {
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.39);

        a {
          text-decoration: underline;
        }
      }
    }

    svg {
      cursor: pointer;

      rect,
      path {
        transition: all 0.3s;
      }

      &:hover {
        rect {
          stroke: #1e1e1e;
        }

        path {
          fill: #1e1e1e;
        }
      }
    }

    button {
      background: #ffffff;
      cursor: pointer;
      border-radius: 108px;
      padding: 20.5px 74px;
      font-weight: 400;
      font-size: 20px;
      line-height: 128.61%;
      color: #1e1e1e;
      border: 1px solid #1e1e1e;
      transition: all 0.3s;

      &:hover {
        background: #1e1e1e;
        color: #ffffff;
      }
    }
  }
  @media (max-width: 576px) {
    padding: 29px 15px 50px 15px;
    .title-container {
      gap: 35px;
      .name {
        font-size: 20px;
      }
    }
    .select-container .gray-select {
      width: 152px;
      height: 89px;
    }
    .select-container {
      gap: 23px;
      margin: 13px 0 0 0;
      min-height: 353px;
      align-items: center;
      &.with-input {
        margin: 12px 0 0 0;
      }
      .wishes-input {
        width: 95vw;
      }
    }
    .navigate-container {
      margin: 44px 0 0 0;
    }
  }
}

.modal {
  max-width: 784px;
  height: 541px;
  background-color: #f4f4f4;

  .global-title {
    font-size: 38px;
    line-height: 128.61%;
  }

  &__wrapper {
    height: 100%;
    position: relative;
    padding: 32px 65px 72px 59px;
  }

  &__close {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44px;
    right: 65px;
    cursor: pointer;
  }

  &__start {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 46px;
    justify-content: center;
    align-items: center;
  }

  &__input {
    width: 100%;
    padding-bottom: 7px;
    border-bottom: 1px solid #1e1e1e;
    background-color: transparent;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 128.61%;
      color: #ababab;
    }
  }

  &__submit {
    font-weight: 400;
    font-size: 15px;
    line-height: 128.61%;
    text-align: center;
    color: #000000;
    padding: 21px 154px 22px 154px;
    border: 1px solid #1e1e1e;
    border-radius: 108px;
    cursor: pointer;
  }

  &__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.39);
    max-width: 318px;

    a {
      text-decoration: underline;
    }
  }

  &__thank {
    font-family: "Druk Text Wide Cyr";
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 128.61%;
    text-transform: uppercase;
    color: #1e1e1e;
  }

  &__done {
    font-family: "Druk Text Wide Cyr";
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 118.61%;
    text-align: center;
    text-transform: uppercase;
    color: #1e1e1e;
  }

  &__send {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  &__end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    height: 100%;
    margin: auto;
  }

  &__social {
    margin-top: 28px;
    border: 1px solid #000000;
    border-radius: 53.5px;
    padding: 30px 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &-text {
      max-width: 193px;
    }
  }
  @media (max-width: 576px) {
    .global-title {
      font-size: 20px;
      max-width: 220px;
    }
    &__wrapper {
      padding: 32px 15px 22px 15px;
    }
    &__submit {
      padding: 21px 80px;
    }
    &__close {
      top: 34px;
      right: 25px;
    }
    &__thank {
      font-size: 18px;
    }
    &__done {
      font-size: 18px;
    }
    &__end {
      justify-content: center;
    }
    &__social {
      padding: 30px 26px;
    }
  }
}
