@import './scss/variable';
@import './scss/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Evolventa', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

button,
input,
textarea {
  border: none;
}

.global-title {
  font-weight: 900;
  font-size: 38px;
  line-height: 141.11%;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Druk Text Wide Cyr';

  &.white {
    color: white;
  }
}

body {
  background-color: var(--background);
}

.container {
  margin: 0 150px;
}
