@import './scss/variable';
@import './scss/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Evolventa', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

button,
input,
textarea,
button:focus {
  border: none;
  outline: none;
}

.global-title {
  font-weight: 900;
  font-size: 45px;
  line-height: 128.61%;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Druk Text Wide Cyr';

  &.white {
    color: white;
  }

  @media(max-width: 1450px) {
    font-size: 38px;
    line-height: 128.61%;
  }

  @media (max-width: 600px) {
    font-size: 20px;
    line-height: 128.61%;
  }
}

body {
  background-color: var(--background);
}

.container {
  margin: 0 150px;

  @media(max-width: 768px) {
    margin: 0 19px;
  }
}